.type, h1, h2, form{
    text-align: center;
}
::placeholder{
    text-align: center;
}

.image{
    display: flex;  
    justify-content: center;
    align-items: center;
}
img {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
